.main {
    padding-top: 10px;
    width: 400px;
    height: 450px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    opacity: 0.95;
    border-radius: 15px;
    font-family: 'Overlock', cursive;

}
.loginFormBackGround {
    width: 300px;
    text-align: center;
    margin: auto;
    
}