body {
  background-color: rgb(193, 255, 223);
  margin: 0;
  padding: 0;
  font-family: 'Overlock', cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Overlock', cursive;

}