body {
  height: 100%;
  width: 100%;
  padding-top: 10px;
  background-color: rgb(193, 255, 223);
  background: url("./Taustakuva.jpg") no-repeat center center fixed;
  background-size: cover;
  /* background-repeat: space; */
  margin: 0;
  padding: 0;
  font-family: 'Nunito', cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
color:rgb(44, 85, 68);

}

code {
  font-family: 'Nunito', cursive;
}